/*
-> DocLite-SPX Light Stylesheet

St Pius X Colours
Pius Gold - #ffdd00
Pius Blue   - #003362
Theme Grey  - #e2e2e2
Pius Light Accent - #003e77
Pius Dark Accent - #001f3b;
Yellow Hover- #d6bb0e
Blue Current- #0c6bc5

G'day! Thanks for stopping by the stylesheet.
You must be looking into website design if you're here?
I recommend the:
-> World Wide Web Consortium's "w3schools" or
-> Mozilla's "MDN" (Mozilla Developer Network)

(C) 2018 Oliver Lenehan

*/

@charset "UTF-8";

@font-face {
    font-family: "adelle-eb";
    src: url('/fonts/adelle-eb.woff') format('woff');
    text-decoration: none;
    font-style: normal;
}

* {
    box-sizing: border-box;
    --pageBgColour: #ffffff;
    --siteBgColour: #003362;
    --themeAccent: #ffdd00;
    --themeBanner: #003e77;
    --bannerMargin: 40px;
    --pageMargin: 40px;
}
*::selection { background: #4ebeff; }

body {
    padding: 1vh;
    /*height: 100vh;*/
    margin: 0;
    background-color: #003362;
}

.dl-header {
    width: 1000px;
    margin: 20px auto;
    box-shadow: 0 10px 20px black;
    border-left: 20px solid #ffdd00;
    background-color: var(--themeBanner);
    padding: 15px;
}
.dl-header h1 {
    font-family: 'adelle-eb', sans-serif;
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-size: 70px;
    padding: 15px 20px 15px 25px;
    user-select: text;
}

.dl-footer {
    width: 1000px;
    margin: 20px auto;
    box-shadow: 0 10px 20px black;
    border-left: 20px solid #ffdd00;
    background-color: var(--themeBanner);
}

/* Pages */

.dl-page {
    padding: 20px;
    background-color: var(--pageBgColour);
    width: 1000px;
    margin: var(--pageMargin) auto;
    box-shadow: 0 10px 20px black;
}